{{!< default}}

<main class="content" role="main">
    {{#foreach posts}}

    <article class="preview">
        <header>
          <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>

        {{#if feature_image}}
        <figure class="post-full-image">
          <a href="{{url}}"><img src="{{img_url feature_image}}" alt="{{title}}"/></a>
         </figure>
        {{/if}}
        
        <section class="post-excerpt">
          <p>{{excerpt}}&hellip;
            <a href="{{url}}">Læs mere</a>
          </p>
            
        </section>
        <footer>
          {{> "post-metadata"}}
        </footer>
    </article>

    {{/foreach}}

    {{pagination}}

</main>
