{{!< default}}

<main class="content" role="main">
    {{#foreach posts}}

    <article class="preview">
        <header>
          <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>

        {{#if feature_image}}
        <figure class="post-full-image">
          <a href="{{url}}"><img src="{{img_url feature_image}}" alt="{{title}}"/></a>
         </figure>
        {{/if}}
        
        <section class="post-excerpt">
          <p>{{excerpt}}&hellip;
            <a href="{{url}}">Læs mere</a>
          </p>
            
        </section>
        <footer>
          <p>
            <span class="fa fa-calendar" role="img" aria-hidden="true"></span>
          <time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">...</time>
          - <span class="fa fa-clock-o" role="img" aria-hidden="true"></span>
            {{reading_time minute=(t "1 minuts læsning") minutes=(t "% minutters læsning")}}
          </p>
        </footer>
    </article>

    {{/foreach}}

    {{pagination}}

</main>
